.services-section {
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
  // max-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 8vh;
  background-image: url(../images/background.svg);
  background-size: cover;
  background-position: center center;

  h1 {
    margin: 4rem;
  }
  .services {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .board-1,
    .board-2 {
      width: 500px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-image: url('../images/blackboard.jpg');
      background-size: cover;
      border: 0.2rem solid rgb(39, 39, 39);
      height: 23rem;
      box-shadow: 0 10px 50px 0 rgba(86, 66, 35, 0.1), 0 5px 10px 0 rgba(86, 66, 35, 0.1);
      border-radius: 1rem;
      transition: 1s all ease;
      opacity: 0;
      transform: translateY(1rem);

      &.showed {
        opacity: 1;
        transform: translateY(0rem);
      }
    }
    .board-1 > img:first-child {
      object-fit: cover;
      position: absolute;
      height: 220px;
      bottom: -55px;
      right: -55px;
    }
    .board-1 > img:nth-child(2) {
      object-fit: cover;
      position: absolute;
      top: -35px;
      left: -35px;
      height: 220px;
    }
    .board-2 > img:first-child {
      object-fit: cover;
      position: absolute;
      height: 220px;
      bottom: -60px;
      right: -60px;
    }
    .board-2 > img:nth-child(2) {
      object-fit: cover;
      position: absolute;
      top: -60px;
      left: -70px;
      height: 200px;
    }
  }
}

@media screen and (max-width: 414px) {
  .services-section {
    .services {
      overflow: hidden;
      .board-1,
      .board-2 {
        width: 85%;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .services-section {
    h1 {
      margin: 0;
      margin-top: 2rem;
    }
    .services {
      flex-direction: column;
      height: 1000px;
      .board-1,
      .board-2 {
        height: 400px;
      }
    }
  }
}
