.services-section {
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
  // max-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 8vh;
  background-image: url(../images/background.svg);
  background-size: cover;
  background-position: center center;

  h1 {
    margin-top: 4rem;
  }
  .services {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0rem;

    .service {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background: rgb(216, 216, 216);
      height: 23rem;
      border-radius: 1rem;
      background-color: white;
      box-shadow: 0 10px 50px 0 rgba(86, 66, 35, 0.1), 0 5px 10px 0 rgba(86, 66, 35, 0.1);
      border-radius: 1rem;
      overflow: hidden;
      transition: 1s all ease;
      opacity: 0;
      transform: translateY(1rem);

      img {
        object-fit: cover;
        height: 100%;
      }
      div {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: rgba(61, 61, 61, 0.678);
        padding: 1rem 0rem;
        color: white;
      }
      &.showed {
        opacity: 1;
        transform: translateY(0rem);
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .services-section {
    .services {
      .service {
        margin-left: -20px;
        width: 280px;
        height: 300px;
      }
    }
  }
}
